body {
    font-family: Calibri;
    text-align: center;
}

p {
    padding: 0px;
    margin: 10px, 0px;
}

.game-map {
    position: absolute;
    scale: 2;
    left: 32%;
}

div.layer,
div.layer div {
    position: absolute;
}

.pacman {
    position: relative;
}

.hidden {
    display: none;
}

.tile {
    position: relative;
    clip-path: inset(0px 672px 240px 0px);
                   /*up  left  down right  */
}

canvas {
    background-color: transparent;
}