body {
    background-color: black;
    font-family: Calibri;
    text-align: center;
}

body div {
    color: white
}

.game-map {
    position: absolute;
    scale: 2;
    left: 32%;
}

canvas {
    background-color: transparent;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 170px;
    margin-left: 200px;
    scale: 2;
}